@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'block/button';
@import 'block/01_promo/promo';
@import 'block/02_vorteile/vorteile';
@import 'block/03_arbeit/arbeit';
@import 'block/04_agent/agent';
@import 'block/05_preise/preise';
@import 'block/06_manager/manager';
@import 'block/07_schema/schema';
@import 'block/08_feedback/feedback';
@import 'block/09_frage/frage';
@import 'block/10_karte/karte';
@import 'block/11_footer/footer';